@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}


body {
    background-image: url('images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
}


.strong {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 45px;
}

.light {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.9;
}


.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
    margin-top: 100px;
}

.card1 {
    padding-left: 5%;
    padding-right: 15%;
    width: 85%;
}



.push-down {
    transform: translateY(30%);
}

.card2 {
    display: flex;
    flex-direction: column;
}

.up {
    height: 60px;
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 20px;
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.down {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.down p {
    color: lightgray;
    font-size: x-small;
    text-align: center;
    margin-top: 15px;
}
input {
    width: 100%;
    height: 50px;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.btn {
    border: none;
    background-color: hsl(154, 59%, 51%);
    width: 100%;
    height: 50px;
    font-size: 16px;
}

span {
    color:hsl(0, 100%, 74%);
}









footer {
    margin-top: 100px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .push-down {
        transform: translateY(0);
    }
}